/* CSS for HOMEPAGE */

#section1{
    background-color:#EDDBD1;
}
#section2{
    height:740px;
}
.navbar-style{
    list-style-type:none;
    position: relative;
    top:150px;
    width:80%;
    margin: 0 auto;
}
li a{
    color: black;
    font-size:70px;
}
li a:hover{
    text-decoration: none;
}


/* About Section/Personal Bio */
.about-sec{
    background-color: orange; 
}


/* Projects Section  */
.projects-sec{
    background-color: #BDBEBF;
}
#project{
    padding-top: 30px;
}
#projects-title{
    text-align: center;
}


/* Footer Section */
.footer-area{
    background-color: pink;
}
h4{
    text-align: center;
    padding-top: 20px;
}

.links-sec{
    list-style-type:none;
    text-align: center;
}

.links-sec li{
    display: inline;
}

.links-sec li:hover{
    color: white;
}

.page-footer{
    background-color: #4D4D4D;
    color:white;
}

#kitty-logo{
    color:white;
}

#kitty-logo:hover{
    color:rgb(202, 115, 129);
}

@media screen and (max-width: 600px) 
{
    .navbar-style{
        top: 0px;
    }

    li a{
        color: black;
        font-size:20px;
    }

    #section1{
        display:none;
    }

    .navbar-hamburger{
    list-style-type:none;
    
    }
}

@media screen and (min-width: 768px)
{
    .navhamburger{
        display:none;
}