/* CSS for HOMEPAGE */
#section1{
    background-color: #343D46;
}
#section2{
    height:750px;
}
.logo-area{
   padding-left: 10px;
   
}
.navbar-style{
    list-style-type:none;
    position: relative;
    top:15px;
    width:71%;
    margin: 0 auto;
}
li a{
    color: #F1CF93;
    font-size:45px;
    line-height: 1.6em;
    font-family: 'Playfair Display', serif;
}
li a:hover{
    text-decoration: none;
    color: white;
}
#main-title{
    top: 63%;
    bottom: 50%;
    left:10%;
    position: absolute;
}
h1{
    color: #343D46;
    font-size:65px;
    font-weight:700px;
    font-family: 'Playfair Display', serif;
}
h2{
    color:#343D46;
    font-family: 'Playfair Display', serif;
}


/* About Section/Personal Bio */
.about-sec{
    background-color: #E4EBE7;
    padding: 60px 0px 60px 0px;
}


/* Projects Section  */
.projects-sec{
    background-color: #F4F5F0;
    padding: 40px 0px 75px 0px; 
}
#project{
    padding-top: 30px;

}
#projects-title{
    text-align: center;
    color: #D3AE6E;
}



/* Resume Section */
.resume-sec{
    padding: 40px 0px 60px 0px;
    background-color: #E4EBE7;
}
#resume-title{
    font-family: 'Playfair Display', serif;
    color: #343D46;
}
.right-col-sec {
    padding-left: 20px;
}
#main-headline {
    padding-top: 70px;
    font-size: 58px;
    font-family: 'Playfair Display', serif;
    color: #D3AE6E;
}
#profile-p {
    line-height: 1.2;
    text-align: left;
}
.volunteer-p{
    margin-top: -15px;
    color: #919CA8;  
}
.education-sec {
    padding-top: 12px;
}
.education-p{
    margin-top:-5px;
    color: #919CA8;
}
.experience-area {
    padding-top: 10px;
    color: #919CA8;
}
.experience-sec {
    margin-top: 25px;
    padding-top: 6px;
    color: #919CA8;
}
.experience-p{
    color: #919CA8;
    margin-top: -10px;
    text-align: left;
}
.skills-sec {
    padding-top: 12px;
}
.skills-details{
    color: #919CA8;
}
h4 {
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #343D46;
}
h5 {
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #343D46;
}
.col1-row3 {
    margin-top: 40px;
    text-align: left;
    width: 80%;
    margin-left: 25px;
}
.resumeh6{
    text-align:left;
    color: #D3AE6E;
}
.right-col-sec{
    margin-top: 25px;
}
.fas fa-globe{
    color: #919CA8;
}
.resume-link{
    color:#D3AE6E;
}
.resume-link:hover{
    text-decoration: none;
    color: #F9BDC0;
}


/* Craft Section (Food-ish) */
#craft-sec{
    padding-bottom: 55px;
    padding-top: 40px;
}
#image-fade:hover{
    opacity: 0.5;
}
#etsy-link{
    font-size: 24px;
     text-decoration: none;
     color: #D3AE6E;
     margin:0 auto;
     width: 100%;
     text-align: center;
     font-family: 'Raleway', sans-serif;  
     font-size:23px;
}
#etsy-link:hover{
    color: #343D46;
}


/* Footer Section */
.footer-area{
    background-color: #343D46;
    border-width:1px;
    border-style: solid;
    border-color: #4f5b66;
}
h6{
    text-align: center;
    padding-top: 10px;
    color:#F3EAC0; 
}
.links-sec{
    list-style-type:none;
    text-align: center;
    color: #F3EAC0;
    font-size:12px;
}
.links-sec li{
    display: inline;
}
.links-sec li:hover{
    color: #F9BDC0;
}
.footer-links{
    font-size:12px;
    color: #F3EAC0;
  
    font-family: 'Lato', sans-serif;
}
.footer-links:hover{
    color: #F9BDC0;
}
.page-footer{
    background-color: #343D46;
    color:#F3EAC0;
    font-size:12px;
}
#kitty-logo, #linkedin, #email{
    color:#F3EAC0;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}
#kitty-logo:hover, #linkedin:hover,#email:hover{
    color:#F9BDC0;
}
.contact-title{
    padding-top:10px;
}



/* Media Query for Mobile */

@media screen and (max-width: 600px) {
	/* .navbar-style{
        top: 0px;
    } */
	li a {
		color: #F1CF93;
		font-size: 35px;
		padding-bottom: 10px;
	}
	#section1 {
		display: none;
	}
	.navbar-hamburger {
		list-style-type: none;
		padding-top: 20px;
	}
	.about-sec,
	.projects-sec,
	.resume-sec,
	h1 {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#section2 {
		height: 400px;
		background-image: url('assets/images/flat-lay.jpg');
		background-position: 100%;
	}
	#main-title {
		display: none;
	}
	h1 {
		width: 60%;
		padding-left: 20px;
		padding-right: 10px;
		margin-top: 140px;
		line-height: 52px;
		font-size: 35px;
	}
	h2 {
		padding-bottom: 5px;
	}
	h4 {
		text-align: left;
	}
    .education-sec{
        margin-top:-7px;
    }
	.education-p {
		text-align: left;
	}

    .experience-area{
        margin-bottom: -5px;
    }
	#resume-title,
	#projects-title {
		padding-top: 10px;
	}
	.container {
		margin: 0 auto;
		width: 85%;
	}
	.about-box {
		border-width: 5px;
		border-style: dashed;
		border-color: white;
		padding: 25px 10px 25px 10px;
	}
	#project {
		padding-right: 10px;
	}

    #craft-sec{
        padding-bottom: 30px;
    }
    .resume-sec{
        padding-bottom: 40px;
    }
    #kitty-logo:hover{
        color:#F9BDC0;
    }
    .links-sec li:hover{
        color: #F9BDC0;
    }
    #image-fade{
        margin-bottom: 30px;
    }
    #image-fade:hover{
        opacity: 0.5;
    }
    #etsy-link{
        font-size: 24px;
         text-decoration: none;
         color: #D3AE6E;
         margin:0 auto;
         width: 100%;
         text-align: center;
         font-family: 'Raleway', sans-serif;  
    }
    #etsy-link:hover{
        color: #343D46;
    }
}


@media screen and (min-width: 768px) {
	.navhamburger {
		display: none;
	}
	#section2 {
		background-image: url('assets/images/flat-lay.jpg');
		background-position: 100%;
	}
	.paragraph-area {
		width: 700px;
		margin: 0 auto;
		text-align: center;
		font-size: 20px;
		padding-bottom: 10px;
		padding-top: 6px;
		font-family: 'Raleway', sans-serif;
	}
	h2 {
		text-align: center;
	}
	h3 {
		text-align: center;
		font-family: 'Raleway', sans-serif;
		font-size: 24px;
	}
	.about-box {
		border-width: 5px;
		border-style: dashed;
		border-color: white;
		width: 840px;
		margin: 0 auto;
		padding-top: 25px;
		padding-bottom: 35px;
	}
	#project {
		padding-left: 50px;
	}
}

